@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700|Karla-Bold:100,200,300,400,500,600,700|Spectral-Light: 100,200,300,400,500,600,700');

body {
  padding-bottom: 300px;
}


/*--------------------------------Navbar---------------*/


.bg-body-tertiary {
  height: 100px;
  background-color: #dee2e6 !important;
}


.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: xx-large;
  font-family: Kanit;
  font-weight: bold;
  color: black;
  text-decoration: s;
  white-space: nowrap;
}

.navbar-nav {
   font-size: x-large;
   font-weight: bold;
   font-family: Karla-Bold;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #67747e;
  --bs-nav-link-hover-color: #f8f9fa;
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: x-large;
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .20s ease-in-out,background-color .20s ease-in-out,border-color .20s ease-in-out;
}

/*--------------------------------Carousel---------------*/

.carousel-container {
  width: 800px;
  height: 500px;
  background-color: #5e6f81;
  padding-top: 50px;
}
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 50vh;
}


.carousel-inner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-position: centre;
   
}

.img-fluid {
  max-width: 100%;
  height: 50vh;
}




.w-100 {
  width: 100% !important;
}



p {
  font-family: Spectral-Light;
}
/*------------------------Footer------*/

.text-dark {
  --bs-text-opacity: 1;
  color: black !important;
  font-size: large;
  font-family: Karla-Bold;
}

.bottom-line {
  font-size: small;
}