.navbar {
    background-image: blue;
}

.carousel {
    width:640px;
    height:360px;
  }

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50%;
}

