.bg-body-tertiary {
  height: 100px;
}



.carousel {
    width: 1500px;;
    height:360px;
  }


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
   padding-bottom: 25%;
}




